@import "common";

@editor-width: 500px;
@editor-height: 500px;

.ace_editor {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid lightgray;
  width: @editor-width;
  height: @editor-height;
  background-color: white;

  .full-screen {
    .full-screen;
  }
}